
.btn-apricot {
	color: var(--darktext);
	background-color: var(--apricot);
	border-color: var(--apricot);
}

#navbarContainer {
	z-index: 50;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

.contact_bar {
	background-color: var(--sanddune);
	font-size: 0.8em;
	padding: 0.2em 15%;
	text-align: right;
	margin: 0px;
}

.navbar_space {
	height: 5em;
}

.navbar {
	width: 100%;
	margin: 0px;
	background-color: #FFFFFF;
	align-content: space-around;
	justify-content: center;
}

.navbar_name {
	color: var(--sanddune);
	margin-right: 5em;
}

.navbar_link {
	margin: 0.8em;
}

a {
	text-decoration: none!important;
}

.navbar_link a {
	color: var(--dovegray);
}

.navbar_link a:hover {
	color: var(--apricot);
}

.navbar_link a:active {
	color: var(--tacao);
}

.white_text {
	color: white;
}

/*
:root {
	--indiankhaki: #C4A48F;
	--sanddune: #7F6A65;
	--apricot: #F3927B;
	--tacao: #F3A889;
	--dovegray: #666666;
	--silverchalice: #B2B2B2;
	--alto: #D8D8D8;
	--pampas: #F9F7F5;
  
	--darktext: #212529;
}
*/