
html {
	scroll-behavior: smooth;
}

.btn-apricot {
	color: var(--darktext);
	background-color: var(--apricot);
	border-color: var(--apricot);
}

#navbarContainer {
	z-index: 50;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

.contact_bar {
	background-color: var(--sanddune);
	font-size: 0.8em;
	padding: 0.2em 15%;
	text-align: right;
	margin: 0px;
}

.navbar_space {
	height: 5em;
}

.navbar {
	width: 100%;
	margin: 0px;
	background-color: #FFFFFF;
	align-content: space-around;
	justify-content: center;
}

.navbar_name {
	color: var(--sanddune);
	margin-right: 5em;
}

.navbar_link {
	margin: 0.8em;
}

a {
	text-decoration: none!important;
}

.navbar_link a {
	color: var(--dovegray);
}

.navbar_link a:hover {
	color: var(--apricot);
}

.navbar_link a:active {
	color: var(--tacao);
}

.white_text {
	color: white;
}

* {
	scroll-padding: 6em;
}

h1 {
	padding-top: 4em;
	padding-bottom: 2em;
	font-family: Playfair Display;
}

.center_flex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

#services {
	background-color: var(--white);
	text-align: center;
	width: 100%;
	padding-bottom: 2em;
}

#servicesText {
	padding: 0.1em 2em;
	min-height: 5em;
}

#servicesGhostText {
	width: 100%;
	position: absolute;
	padding: 0.1em 2em;
	min-height: 5em;
	opacity: 0;
}

#servicesCarouselContainer {

}

#servicesListGroup {
	width: 25em;
	font-weight: bold;
	text-align: left;
	margin-right: 2em;
	cursor: pointer;
	user-select: none;
}

.list-group-item-creme:hover {
	background-color: var(--apricot);
	color: white;
}

.list-group-item-creme {
	background-color: var(--pampas);
	color: var(--sanddune);
}

.list-group-item-creme.selected {
	background-color: var(--tacao);
	color: white;
}

#servicesCarousel {
	height: 25em;
	aspect-ratio: 3/2;
}

#aboutme {
	background-color: var(--pampas);
	text-align: center;
	width: 100%;
	padding-bottom: 2em;
}

#aboutmeContent {

}

#aboutmeText {
	width: 50%;
	margin-right: 3em;
}

#aboutmeContent .card-title {
	color: var(--sanddune);
}

#feedback {
	background: transparent url("../img/testimonials-bg.png") 0% 0% no-repeat padding-box;
	background-size: cover;
	background-position-x: right;
	background-position-y: center;
	text-align: center;
	width: 100%;
	padding-bottom: 2em;
}

#feedbackContent {

}

#feedbackComments {
	background-color: var(--pampas);
	width: 25em;
	margin-right: 3em;
	position: relative; /*Just to make some of the absolute elements within be anchored to this*/
	/*aspect-ratio: 555/566;*/
}

.feedbackQuotes {
	position: absolute;
	top: -1em;
	left: 2em;
}

#feedbackDisplay {
	padding-top: 3em;
	width: 100%;
	overflow: hidden;
}

.comment {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 2em;
}

.commentBody {
	text-align: initial;
}

.commentAuthor {
	padding-top: 0.5em;
	text-align: right;
}

.customDivider {
	width: 80%;
	border-top: 1px var(--indiankhaki) solid;
	margin: 0 10%;
}

.commentArrow {
	width: 2em;
	height: 2em;
	background-color: var(--white);
	margin: 1em 0.5em;
}

.arrow {
	border: solid var(--tacao);
	border-width: 0 0.15em 0.15em 0;
	display: inline-block;
	padding: 3px;
	width: 0.8em;
	height: 0.8em;
}

.right {
	transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
}

.bold {
	font-weight: bold;
}

.sanddune {
	color: var(--sanddune);
}

.must_fill::after {
	content: " *";
	color: var(--apricot);
}

.must_fill_before {
	font-size: 0.8em;
}

.must_fill_before::before {
	content: "* ";
	color: var(--apricot);
}

#feedbackSender {
	text-align: left;
	width: 15em;
}

input, textarea {
	width: 100%;
}

#contacts {
	background-color: black;
	text-align: center;
	width: 100%;
	padding-bottom: 5em;
}

#contactsContent {
	height: 40em;
}

#contactsSend {
	text-align: initial;
	background-color: white;
	width: 20em;
	padding: 2em;
	height: 100%;
}

#contactLocations {
	text-align: initial;
	background-color: var(--pampas);
	width: 20em;
	padding: 2em;
	height: 100%;
}

.white {
	color: white;
}

.center {
	text-align: center;
}

.pTopMargin {
	margin-top: 1rem;
	margin-bottom: 0;
}

.inline_block {
	display: inline-block;
}

.text_flex {
	display:flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

#contactLocations .bi {
	font-size: 1.2em;
	color: var(--indiankhaki);
}

.navIcon {
	margin-left: 1em;
	font-size: 1em;
	color: white;
}

.btn-white {
	color: white;
	background-color: white;
	border-color: white;
}

.facebook_blue {
	color: #3B5998;
}

.google_red {
	color: #DE5246;
}

.instagram_pink {
	color: #D22F71;
}

.full_width {
	width: 100%;
}

#footerContainer {
	color: white;
	position: fixed;
	left: 0px;
	width: 100%;
	bottom: 0px;
	background-color: var(--sanddune);
	font-size: 0.8em;
	padding: 1em;
	text-align: center;
}

#commentsCarousel {
	min-height: 15em;
}

/*
:root {
	--indiankhaki: #C4A48F;
	--sanddune: #7F6A65;
	--apricot: #F3927B;
	--tacao: #F3A889;
	--dovegray: #666666;
	--silverchalice: #B2B2B2;
	--alto: #D8D8D8;
	--pampas: #F9F7F5;
  
	--darktext: #212529;
}
*/